<!-- myapp/templates/myapp/table.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблиця</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
    <h2>Постачальники</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Код постачальника</th>
                <th>Назва компанії</th>
                <th>Контактна особа</th>
                <th>Телефон</th>
                <th>Розрахунковий рахунок</th>
            </tr>
        </thead>
        <tbody>
            {% for постачальник in постачальники %}
                <tr>
                    <td>{{ постачальник.код_постачальника }}</td>
                    <td>{{ постачальник.назва_компанії_постачальника }}</td>
                    <td>{{ постачальник.контактна_особа }}</td>
                    <td>{{ постачальник.телефон }}</td>
                    <td>{{ постачальник.розрахунковий_рахунок }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Матеріали</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Код матеріалу</th>
                <th>Назва матеріалу</th>
                <th>Ціна</th>
            </tr>
        </thead>
        <tbody>
            {% for матеріал in матеріали %}
                <tr>
                    <td>{{ матеріал.код_матеріалу }}</td>
                    <td>{{ матеріал.назва_матеріалу }}</td>
                    <td>{{ матеріал.ціна }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Поставки</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Номер поставки</th>
                <th>Дата поставки</th>
                <th>Постачальник</th>
                <th>Матеріал</th>
                <th>Кількість днів</th>
                <th>Кількість матеріалів</th>
            </tr>
        </thead>
        <tbody>
            {% for поставка in поставки %}
                <tr>
                    <td>{{ поставка.номер_поставки }}</td>
                    <td>{{ поставка.дата_поставки }}</td>
                    <td>{{ поставка.код_постачальника.назва_компанії_постачальника }}</td>
                    <td>{{ поставка.код_матеріалу.назва_матеріалу }}</td>
                    <td>{{ поставка.кількість_днів }}</td>
                    <td>{{ поставка.кількість_матеріалів }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
